body {
	min-width: 600px;
	min-height: 600px;
}

.margin-on-top {
    margin-top: 30px; 
}

.slight-margin-left {
    margin-left: 5px;
}

.accountlist {
    max-height: 550px;
    overflow-y: scroll;
}

.search-input {
    padding-left: 10px;
}